@font-face {
    font-family: 'Quicksand';
    src: url('fonts/Quicksand-Regular.woff2') format('woff2'),
        url('fonts/Quicksand-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Regular.woff2') format('woff2'),
        url('fonts/Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Normalize/Reset styles */

:root {
  line-height: 1.5;
  --mauve-shadow: #744253;
  --soft-linen: #ede7d9;
  --evergreen: #041b15;
  --rosewood: #9b596f;
  --dusty-mauve: #ad7185;
  --sand-dune: #ded3ba;
}

*,
::before,
::after {
	box-sizing: border-box;
}

body {
	margin: 0;
}

h1, h2, h3, p, li, ul {
  margin: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

button,
input,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
  padding: 0;
}

/* Layout */

#container {
  display: flex;
  height: 100vh;
}

h1, h2 {
  font-family: "Quicksand", system-ui;
}

p, li, button, label, input {
  font-family: "Raleway", system-ui;
}

/* Sidebar */

#sidebar {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1/2;
  flex-basis: 20vw;
  background-color: var(--mauve-shadow);
  padding: 1rem 1.5rem;
}

#sidebar-projects {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#project-list {
  overflow-y: auto;
}

#sidebar li, #sidebar h3, #sidebar h2, #sidebar h1 {
  color: white;
}

#project-head-div {
  display: flex;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
}

#project-head-div > h2 {
  margin-right: auto;
}

.project-list-selected {
  background-color: var(--dusty-mauve);
  border-radius: 10px;
}

#project-head-div {
  align-items: center;
  cursor: pointer;
}

#project-add-button {
  align-self: center;
  background-color: var(--rosewood);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: white;
  font-size: 2rem;
  border: none;
}

#project-add-button:hover {
  background-color: #5b343e;
  transform: translateY(2px);
  cursor: pointer;
}

#project-add-button:focus {
  outline: 2px solid var(--evergreen);
}

.project-item {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.project-item:hover {
  background-color: var(--dusty-mauve);
  cursor: pointer;
}

.project-item img:hover {
  transform: translateY(2px);
  cursor: pointer;
}

#active-project-sidebar {
  background-color: var(--rosewood);
}

/* Content */

#content {
  flex: 1;
  background-color: #ede7d9;
  padding: 1rem 1.5rem;
  box-shadow: inset 3px 0px 5px grey;
  overflow-y: auto;
}

#project-todos-head {
  display: flex;
  justify-content: space-between;
}

#project-todos-head button {
  padding: 0.5rem;
  border-radius: 10px;
  background-color: var(--mauve-shadow);
  color: white;
  border: 1px solid var(--evergreen);
}

#project-todos-head button:hover {
  background-color: var(--dusty-mauve);
  transform: translateY(1px);
  cursor: pointer;
}

.todo-item {
  display: grid;
  grid-template-columns: 20px 3fr 1fr 100px;
  align-items: center;
  gap: 20px;

  padding: 0.5rem 0 0.5rem 0.5rem;

  border-bottom: 1px solid grey;
}

.todo-item:first-of-type {
  margin-top: 0.75rem;
}

.todo-item:last-of-type {
  border-bottom: none;
}

.todo-item:hover {
  background-color: var(--sand-dune);
  border-color: var(--sand-dune);
  border-radius: 10px;
  cursor: text;
}

.todo-item-icons {
  grid-area: 1 / 4 / 2 / 5;
  justify-self: end;
}

.todo-item-edit:hover, .todo-item-delete:hover {
  transform: translateY(2px);
  cursor: pointer;
}

/* Single Todo display */

#single-todo {
  display: grid;
  gap: 20px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 25px 1fr 4fr 2fr;
}

#single-todo-date {
  grid-area: 1 / 1 / 2 / 2;
}

#single-todo-prio {
  grid-area: 1 / 2 / 2 / 3;
  justify-self: end;
  position: relative;
}

.single-todo-low::before, .single-todo-medium::before, .single-todo-high::before {
  content: "";
  position: absolute;
  left: -1.5rem;
  height: 20px;
  width: 20px;
}

.single-todo-low::before {
  background: url("./icons/flag_low.svg") no-repeat center center/cover;
}

.single-todo-low {
  color: #3f7cac;
}

.single-todo-medium::before {
  background: url("./icons/flag_medium.svg") no-repeat center center/cover;
}

.single-todo-medium {
  color: #f0a202;
}

.single-todo-high::before {
  background: url("./icons/flag_high.svg") no-repeat center center/cover;
}

.single-todo-high {
  color: #fe4a49;
}

#single-todo-title {
  grid-area: 2 / 1 / 3 / 2;
}

#single-todo-desc {
  grid-area: 3 / 1 / 4 / 3;
}

#single-todo-notes {
  grid-area: 4 / 1 / 5 / 3;
}

#single-todo-desc, #single-todo-notes {
  background-color: var(--sand-dune);
  padding: 0.5rem 0.5rem;
  border-radius: 10px;
}

/* Complete task styling */

.todo-item-prio > input {
  display: grid;
  place-content: center;
  appearance: none;
  margin: 0;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid grey;
}

.todo-item-prio > input:hover {
  cursor: pointer;
}

.priority-low > input {
  border-color: #3f7cac;
}

.priority-medium > input {
  border-color: #f0a202;
}

.priority-high > input {
  border-color: #fe4a49;
}

.todo-item-prio > input::before {
  content: "";
  width: 0.75em;
  height: 0.75em;
  transform: scale(0);
  box-shadow: inset 1em 1em var(--evergreen);
  clip-path: polygon(80% 0, 36% 57%, 18% 44%, 0% 68%, 36% 100%, 100% 15%);
}

.todo-item-prio > input:checked::before {
  transform: scale(1);
}

.todo-complete {
  text-decoration: line-through;
  color: grey;
}

/* Add Dialogs */

#todo-add-dialog, #project-add-dialog {
  background-color: var(--mauve-shadow);
  border: 2px solid var(--evergreen);
  border-radius: 10px;
  color: white;
}

#todo-add-dialog form, #project-add-dialog form {
  display: grid;
  gap: 10px;
}

#project-add-dialog label {
  grid-area: 1 / 1 / 2 / 2;
}

#project-add-name {
  grid-area: 2 / 1 / 3 / 4;
}

#close-btn {
  grid-area: 3 / 2 / 4 / 3;
}

#confirm-btn {
  grid-area: 3 / 3 / 4 / 4;
}

.todo-add-field {
  display: grid;
  grid-template-columns: 7.5rem 1fr;
}

.todo-add-field input, textarea, #project-add-name {
  border-radius: 10px;
  padding: 0.5rem;
  border: 1px solid grey;
}

textarea {
  resize: none;
}

.todo-add-field input:hover, textarea:hover, #project-add-name:hover {
  background-color: rgb(235, 235, 235);
}

.todo-add-field input:focus, textarea:focus, #project-add-name:focus {
  outline: 1px solid var(--evergreen);
}

#todo-add-dialog fieldset div {
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

#todo-add-dialog input[type="radio"] {
  appearance: none;
  margin: 0 0 1rem 0;
  font: inherit;
  color: white;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid white;
  border-radius: 50%;
  transform: translateY(0.2em);
  display: grid;
  place-content: center;
}

#todo-add-dialog input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
}

#todo-priority-none::before {
  box-shadow: inset 1em 1em white;
}

#todo-priority-low::before {
  box-shadow: inset 1em 1em #3f7cac;
}

#todo-priority-medium::before {
  box-shadow: inset 1em 1em #f0a202;
}

#todo-priority-high::before {
  box-shadow: inset 1em 1em #fe4a49;
}

#todo-add-dialog input[type="radio"]:hover {
  cursor: pointer;
}

#todo-add-dialog input[type="radio"]:checked::before {
  transform: scale(1);
}

#todo-add-dialog input[type="radio"]:focus {
  outline: max(2px, 0.15em) solid white;
  outline-offset: max(2px, 0.15em);
}

#todo-add-buttons {
  justify-self: end;
}

#todo-add-buttons button, #close-btn, #confirm-btn {
  background-color: var(--soft-linen);
  color: var(--evergreen);
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid grey;
}

#todo-add-buttons button:hover, #close-btn:hover, #confirm-btn:hover {
  background-color: var(--sand-dune);
  cursor: pointer;
}

#todo-add-buttons button:focus, #close-btn:focus, #confirm-btn:focus {
  outline: 1px solid var(--evergreen);
}